<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 ">
        <a class="text-blue-500 inline-block  p-10" href="/"> go back to home </a>

        <form class="ml-10" action="/edit" method="post">
            <input class="block mt-10 px-5 py-2 bg-zinc-800 text-zinc-600 w-1/4 rounded-md"  type="text" placeholder="Previous Name" name="previous" value="<%= filename%>" >
            <input class="block mt-2 px-5 py-2 bg-zinc-800 w-1/4 rounded-md"  type="text" placeholder="New Name" name="New">
           
            <input class="mt-10 bg-indigo-600 text-white px-8 py-1 rounded-md" type="submit" value="update name">
        </form>



    </div>
</body>
</html>